<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ratchet template page</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="shortcut icon" href="/touch-icons/apple-touch-icon-iphone.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/touch-icons/apple-touch-icon-iphone4.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/touch-icons/apple-touch-icon-ipad.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/touch-icons/apple-touch-icon-iphone.png">

    <link rel="stylesheet" href="/css/ratchet.css">
    <script src="/js/ratchet.js"></script>


    <link href="http://fonts.googleapis.com/css?family=Oxygen:400,300|Lato:100,300,400,700,900,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">

    <script type="text/javascript">
      var im = new Image();
      im.src = '/img/sleep_pressed.png';

      var im2 = new Image();
      im2.src = '/img/options_pressed.png';

      var im3 = new Image();
      im3.src = '/img/mystats_pressed.png';
    </script>

  </head>
  <body>

    <div class="content" style="background:#000112;">
      <center>
      <p style="font-family: Lato;font-size: 26px;font-weight: 300;color: rgb(219, 219, 219);margin-top: 20px;margin-bottom: 15px;">SleepPerfect</p>

      <a href="/tired.html" data-transition="slide-in"><img id="sleep" src="/img/sleep_unpressed.png?v=1" style="width:300px;margin:0 auto;"></a>
      <a href="/stats.html" data-transition="slide-in"><img id="stats" src="/img/mystats_unpressed.png" style="width:300px;margin:0 auto;"></a>
      <a href="/options.html" data-transition="slide-in"><img id="options" src="/img/options_unpressed.png" style="width:300px;margin:0 auto;"></a>
      </center>
    </div>

    <script type="text/javascript">
      document.getElementById('sleep').addEventListener('touchstart', function(event) { 
        document.getElementById('sleep').src = '/img/sleep_pressed.png';
        console.log('press sleep')
      },false);

      document.getElementById('sleep').addEventListener('touchend', function(event) { 
        document.getElementById('sleep').src = '/img/sleep_unpressed.png';
        console.log('press sleep')
      },false);

      document.getElementById('options').addEventListener('touchstart', function(event) { 
        document.getElementById('options').src = '/img/options_pressed.png';

      },false);

      document.getElementById('options').addEventListener('touchend', function(event) { 
        document.getElementById('options').src = '/img/options_unpressed.png';

      },false);

      document.getElementById('stats').addEventListener('touchstart', function(event) { 
        document.getElementById('stats').src = '/img/mystats_pressed.png';

      },false);

      document.getElementById('stats').addEventListener('touchend', function(event) { 
        document.getElementById('stats').src = '/img/mystats_unpressed.png';

      },false);

    </script>

  </body>
</html>